 #grpZijpaneel{
   	-fx-background-image: url("../images/zijpaneel.png");
	-fx-background-size: 250.0px 750.0px;
	-fx-background-repeat: no-repeat;
}
#lblSokoban{
 	-fx-font-family: Caribbean;
	-fx-font-size: 40.0px;
}

#winboodschap{
	-fx-font-family: Caribbean;
	-fx-font-size: 80.0px;
	-fx-background-position: left center;
}

.label, .button{
	 -fx-font-family: ManuskriptAntDReg;
   	 -fx-font-size: 13.0px;
}

#btnBoven, #btnRechts, #btnOnder, #btnLinks{
	-fx-background-image: url("../images/arrow.png");
   	-fx-background-size: 40.0 40.0;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100.0% 100.0%;
    -fx-background-color: transparent;  
}

#btnBoven:hover, #btnRechts:hover, #btnOnder:hover, #btnLinks:hover{
	-fx-background-image: url("../images/arrow_selected.png");
}

#btnRechts{
	-fx-rotate: 90;
}
#btnOnder{
	-fx-rotate: 180;
}
#btnLinks{
	-fx-rotate: 270;
}

.button{
	-fx-background-image: url("../images/button.png");
   	-fx-background-size: 270.0 33.0;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100.0% 100.0%;
    -fx-background-color: transparent;  
}

.button:hover{
  -fx-background-image: url("../images/button_selected.png");
}

     .combo-box{
    -fx-background-image: url("../images/button.png");
    -fx-background-size: 270.0 33.0;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100.0% 100.0%;
    -fx-background-color: transparent;
	}

      .combo-box .list-cell{
    -fx-background-image: url("../images/button.png");
    -fx-background-size: 270.0 33.0;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100.0% 100.0%;
    -fx-background-color: transparent;
	}
